body{
    background-color: whitesmoke;
}

.research-btn {
    float: right;
}

.sp {
    display: none;
}

.mt{
    margin-top: 200px;
}

.mt-result{
    margin-top: 100px;
}

.status_code{
    margin-top: 200px;
}

.status_code h4{
    color: red;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    
    color: white;
    text-align: center;
  }
