{% extends 'layout/base.html' %}

{% block content %}
    <div class="row justify-content-center">
        <div class="col-md-4 mt">
            <p class="text-danger">{{ message }}</p>
            <form action="" method="POST">{% csrf_token %}
                <div class="mb-3">
                  <label for="email" class="form-label">Votre mail</label>
                  <input type="email" placeholder="exemple@gmail.com" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" required>
                  <div id="emailHelp" class="form-text">Vous allez recevoir un code de confirmation.</div>
                </div>
                <div class="mb-3">
                  <label for="name" class="form-label">Votre nom</label>
                  <input type="text" placeholder="Chloe" name="name" class="form-control" id="exampleInputPassword1" required>
                </div>
                <div class="mb-3 form-check">
                  <input type="checkbox" class="form-check-input" id="exampleCheck1" required>
                  <label class="form-check-label" for="exampleCheck1">CGU</label>
                </div>
                <button type="submit" class="btn btn-primary research-btn">Je valide</button>
            </form>
        </div>
    </div>
{% endblock %}