{% extends 'layout/base.html' %}

{% block content %}
    <div class="row justify-content-center">
        <div class="col-md-4 mt">
            <h5>Veuillez valider votre email</h5>
            <p>Un code de vérification vous est envoyé à votre adresse email</p>
            <hr>
            <p class="text-danger">{{ message }}</p>
            <p class="text-success">{{ success }}</p>
            <p class="text-warning">{{ valided }}</p>
            <form action="" method="POST">{% csrf_token %}
                <div class="mb-3">
                  <label for="code" class="form-label">Code de confirmation</label>
                  <input type="text" placeholder="kBd%JM!e" name="code" class="form-control" id="exampleInputPassword1" required>
                </div>
                <button type="submit" class="btn btn-primary research-btn">Je confirme</button>
            </form>
        </div>
    </div>
{% endblock %}